/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
strong,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
main{
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:normal;
	font-weight:normal;
	margin:0;
	padding:0;
	vertical-align:baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
main{display:block;}
body{
	background:#fff;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.5;
	position:relative;
}
a{
	color:#000;
	text-decoration:none;
}
:focus{outline:0;}

/* TYPOGRAPHY */
em{font-style:italic;}

/* TABLE */
table{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
table,
th,
td{
	padding:5px;
	text-align:left;
	vertical-align:middle;
}
th,
strong{font-weight:bold;}
thead th{background:#0aa;}
tbody tr:nth-child(even) td{background:#eee;}

/* SPACING */
p{margin-bottom:1em;}
h1{
	font-size:3em;
	margin-bottom:0.5em;
}
h2{
	font-size:2em;
	margin-bottom: 0.75em;
}
h3{
	font-size:1.5em;
	margin-bottom:1em;
}
h4{
	font-size:1.2em;
	margin-bottom:1.25em;
}
h5{
	font-size:1em;
	margin-bottom:1.5em;
}
h6{
	font-size:1em;
	margin-bottom:1.5em;
}
ul,
ol{
	list-style:none;
	margin:10px 0;
}
h1.logo-container{
	overflow: hidden;
	text-indent: -9999px;
}

/* FORMS */
input[type="text"],
input[type="password"],
input[type="mail"],
input[type="number"],
input[type="search"],
input[type="url"],
select,
textarea{
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	border:1px solid #ccc;
	padding:5px;
	width:97%;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="mail"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus{border-color:#900;}
select{
	background:url(img/selectDown.png) no-repeat right 11px;
	padding:4px 3px;
	width:99%;
}
select:focus{
	background:url(img/selectUp.png) no-repeat right 11px;
	outline:0;
}
textarea{
	font-family:Arial, Helvetica, sans-serif;
	max-width:97%;
	overflow:hidden;
}
label,
input[type="checkbox"],
input[type="radio"]{
	display:inline-block;
	vertical-align:middle;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"]{
	background:#900;
	color:#fff;
	cursor:pointer;
	padding:5px 10px;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
fieldset{max-width: 500px;}

/* NORMALIZE */
.pSt{position:static !important;}
.pFi{position:fixed !important;}
.pRe{position:relative !important;}
.pAb{position:absolute !important;}
	.fNo{float:none !important;}
	.fRi{float:right !important;}
	.fLe{float:left !important;}
.cLe{clear:left !important;}
.cRi{clear:right !important;}
.cBo{clear:both !important;}
	.dNo{display:none !important;}
	.dBl{display:block !important;}
	.dIn{display:inline !important;}
	.dIB{display:inline-block !important;}
.vTo{vertical-align:top !important;}
.vMi{vertical-align:middle !important;}
.vBo{vertical-align:bottom !important;}
	.oAu{overflow:auto !important;}
	.oHi{overflow:hidden !important;}
	.oSc{overflow:scroll !important;}
.nBo{border:0 !important;}
.nBt{border-top:0 !important;}
.nBr{border-right:0 !important;}
.nBb{border-bottom:0 !important;}
.nBl{border-left:0 !important;}
	.bNo{background:none !important;}
	.bTr{background:transparent !important;}
	.vHi{visibility:hidden !important;}
.nPa{padding:0 !important;}
.nPt{padding-top:0 !important;}
.nPr{padding-right:0 !important;}
.nPb{padding-bottom:0 !important;}
.nPl{padding-left:0 !important;}
	.nMa{margin:0 !important;}
	.nMt{margin-top:0 !important;}
	.nMr{margin-right:0 !important;}
	.nMb{margin-bottom:0 !important;}
	.nMl{margin-left:0 !important;}
.tLe{text-align:left !important;}
.tRi{text-align:right !important;}
.tCe{text-align:center !important;}
.tJu{text-align:justify !important;}
	.zUp{z-index:999;}
	.zDo{z-index:1;}